@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@font-face {
    font-family: 'IRAGORRICUTS';
    src:url('fonts/IRAGORRICUTS.ttf.woff') format('woff'),
        url('fonts/IRAGORRICUTS.ttf.svg#IRAGORRICUTS') format('svg'),
        url('fonts/IRAGORRICUTS.ttf.eot'),
        url('fonts/IRAGORRICUTS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
	background-color: #fff;
}
h1, span {
    font-family: 'IRAGORRICUTS';
}
.text-align-center {
    text-align: center;

}
.margin-left-right-1-5-em {
	margin-left: 1.5em;
	margin-right: 1.5em;
	color: #fff;
}
.logo {
    width: 80%;
    max-width: 900px;
    margin-top: 10em;
}
.margin-top-5-em {
    margin-top: 5em;
}
.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}